* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.list {
  padding-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  align-self: stretch;
}

.heading {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.app-container {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}
